python-dotenv==0.16.0
django>=3.1.12
djangorestframework==3.12.4

# For form
django-widget-tweaks==1.4.8

# Phone numbers validation & form field libraries
django-phonenumber-field==5.0.0
phonenumbers==8.12.20

# Social login
social-auth-app-django==4.0.0
social-auth-core==4.1.0

# Postgres
psycopg2==2.8.6

# Bulma CSS Library
django-bulma==0.8.2
