{% extends 'base.html' %} {% load widget_tweaks %} {% block content %}
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <form method="post">
        {{ form|bulma }}
        {% csrf_token %} {% for field in form.visible_fields %}
        <div class="form-group">
          <label for="{{field.id_for_label}}">{{field.label}}</label>
          {{field|add_class:'form-control'}} {% for error in field.errors %}
          <span class="help-block">{{error}}</span>
          {% endfor %}
        </div>
        {% endfor %}
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
          <a href="{% url 'personalprofile:index' %}" class="btn btn-primary">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}