{% extends 'base.html' %} {% block content %} {% if user.is_authenticated %}
<div></div>
{% for item in object_list %}
<div class="col">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{item.name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{item.email}}</h6>
      <p class="card-text">{{item.description}}</p>
      <p class="card-text">{{item.address}}</p>
      <p class="card-text">{{item.phone_no}}</p>
      <!-- Profile options -->
      <div class="btn-group">
        <a href="#" class="card-link">View</a>
        <a href="{% url 'personalprofile:edit' item.pk %}" class="card-link"
          >Edit</a
        >
        <a href="{% url 'personalprofile:delete' item.pk %}" class="card-link"
          >Delete</a
        >
      </div>
    </div>
  </div>
</div>
{% endfor %} {% else %}
<div>{% include 'registration/login.html' %}</div>
{% endif %} {% endblock %}
